{% extends 'base.html.twig' %}

{% block title %}BearFormation | Home{% endblock %}

{% block body %}

<div class="home-main">
    {% if app.user.username is defined %}
        <h2>Hi {{ app.user.username }}, welcome to BearFormation </h2>
    {% else %}
        <h2>Welcome to BearFormation !</h2>
    {% endif %}
</div>

{% endblock %}
