* {
    font-family: "Source sans pro";
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
  }

/* General */

:root {
    --dark : #30343F;
    --light : #FAFAFF;
    --blue : #242E40;
    --blue-dark : #262D3B;
    --blue-light : #3C4A5B;
    --blue-electric : #1E93FA;
    --blue-electric-hover : #1b85e1;
    --yellow : #ffd931;
    --yellow-hover : #eeca2b;
    --red-flash : #FE4A49;
    --red-flash-hover : #cb3e3e;
    --green : #398C4F;
    --green-light : #48CD68;
    --green-washed : #C1F2CC;
}

.unselectable {
    user-select: none;
}

.general-title {
    color: var(--blue);

    width: 100%;
    padding: 0 10px;

    margin: 30px 0;
}

.general-new-button {
    background-color: var(--blue-light);
    color: white;
    text-decoration: none;

    font-size: 0.8rem;

    padding: 10px 15px;
    margin: 5px 0;
    width: fit-content;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all, 0.5s;
}

.general-new-button:hover {
    background-color: var(--blue);
}

.general-new-button:visted {
    color: white;
}

.general-edit-button {
    background-color: var(--yellow);
    color: black;
    text-decoration: none;

    padding: 12px 15px;
    margin: 5px 0;
    width: fit-content;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    overflow: hidden;
    transition: all, 0.5s;
}

.general-edit-button:hover {
    background-color: var(--yellow-hover);
}

.general-edit-button:visited {
    color: black;
}

.general-edit-button-icon {
    height: 20px;
}

.general-delete-button {
    background-color: var(--red-flash);
    color: white;
    text-decoration: none;

    font-size: 0.8rem;

    padding: 10px 15px;
    margin: 5px 0;
    width: fit-content;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    overflow: hidden;
    transition: all, 0.5s;
}

.general-delete-button:hover {
    background-color: var(--red-flash-hover);
}

.general-delete-button:visited {
    color: white;
}

.general-delete-button-icon {
    height: 20px;
    filter: invert();
}

.general-card-infobutton {
    color: var(--blue-light);
    text-decoration: none;

    font-size: 1rem;
    width: fit-content;

    transition: all, 0.5s;
}

.general-card-infobutton:hover {
    text-decoration: underline;

    text-underline-offset: 3px;
}

.general-card-infobutton:visited {
    color: var(--blue-light);
}

.general-cards {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
}

.general-card {
    width: calc(100%/6 - 10px);
    min-width: 250px;
    margin: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.general-card-banner {
    width: 100%;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.general-card-banner-image {
    min-height: 100%;
}

.general-card-banner-img {
    height: 100%;
}

.general-card-label {
    color: var(--blue-light);
    font-size: 1.3rem;

    width: 100%;
    padding: 0 2px;
}

.general-card-description {
    color: var(--blue-light);

    width: 100%;
    padding: 0 2px;
}

.general-card-infobutton {
    height: 50px;

    border-radius: 10px;

    padding: 5px;
}

table {
    border-collapse: collapse;
}
  
td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
background-color: #dddddd;
}

/* Header */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 10svh;
    background-color: var(--blue);
}

.nav-logo {
    height: 40%;

    margin: 0 10px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-option {
    height: 10svh;
    color: var(--light);
    text-decoration: none;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-option:hover {
    background-color: var(--blue-light);
}

.nav-option:visited {
    color: var(--light);
}

footer {
    height: 450px;
    width: 100%;

    padding: 25px 0;

    background-color: var(--blue);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer-bold {
    color: var(--light);
    font-weight: 500;
    font-size: 1.2rem;

    margin: 5px;
}

.footer-text {
    color: var(--light);
    font-weight: 300;
    font-size: 0.9rem;

    margin: 2px;
}

.footer-text-categories {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-text-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 5px;
    margin: 0 20px;
}

.footer-iconlist {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

.footer-iconfig {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--blue-light);

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    transition: all, 0.5s;
}

.footer-iconfig:hover {
    background-color: var(--green-light);
}

.footer-iconimg {
    height: 15px;
}

.footer-logo {
    width: 150px;
}


/* Students */
.student-main {
    min-height: 90svh;
    width: 100%;
    padding: 20px;
}

/* Formations */
.formation-main {
    min-height: 90svh;
    width: 100%;
    padding: 20px;
}

/* Subjects */
.subject-main {
    min-height: 90svh;
    width: 100%;
    padding: 20px;
}


/* Sessions */
.session-main {
    min-height: 90svh;
    width: 100%;
    padding: 20px;
}