* {
    font-family: "Source sans pro";
    padding : 0;
    margin : 0;
    box-sizing: border-box;
  }

/* General */

:root {
    --dark : #30343F;
    --light : #FAFAFF;
    --rose : #E4D9FF;
    --rose-dark : #8687B4;
    --blue : #273469;
    --blue-dark : #1E2749;
}

.unselectable {
    user-select: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-option {
    height: 10svh;
    background-color: var(--blue);
    color: var(--light);
    text-decoration: none;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-option:hover {
    background-color: var(--blue-dark);
}

.nav-option:visited {
    color: var(--light);
}


/* Students */
.student-main {
    min-height: 90svh;
    width: 100%;
}

.student-title {
    color: var(--blue);

    width: 100%;
    padding: 0 10px;

    margin: 30px 0;
}

.student-cards {
    width: 100%;

    padding: 0 5px;

    display: flex;
    flex-flow: row wrap;
}

.student-card {
    width: calc(100%/4 - 10px);
    min-width: 300px;
    margin: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-card-banner {
    width: 100%;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.student-card-banner-img {
    height: 100%;
}

.student-card-label {
    width: 100%;
    padding: 0 2px;
}

.student-card-description {
    width: 100%;
    padding: 0 2px;
}

.student-card-infobutton {
    height: 50px;

    border-radius: 10px;

    padding: 5px;
}

/* Formations */
.formation-main {
    min-height: 90svh;
    width: 100%;   
}

.formation-title {
    color: var(--blue);

    width: 100%;
    padding: 0 10px;

    margin: 30px 0;
}

.formation-cards {
    width: 100%;

    padding: 0 5px;

    display: flex;
    flex-flow: row wrap;
}

.formation-card {
    width: calc(100%/4 - 10px);
    min-width: 300px;
    margin: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.formation-card-banner {
    width: 100%;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.formation-card-banner-img {
    height: 100%;
}

.formation-card-label {
    width: 100%;
    padding: 0 2px;
}

.formation-card-description {
    width: 100%;
    padding: 0 2px;
}

.formation-card-infobutton {
    height: 50px;

    border-radius: 10px;

    padding: 5px;
}

/* Subjects */
.subject-main {
    min-height: 90svh;
    width: 100%;
}

.subject-title {
    color: var(--blue);

    width: 100%;
    padding: 0 10px;

    margin: 30px 0;
}

.subject-cards {
    width: 100%;

    padding: 0 5px;

    display: flex;
    flex-flow: row wrap;
}

.subject-card {
    width: calc(100%/4 - 10px);
    min-width: 300px;
    margin: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject-card-banner {
    width: 100%;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.subject-card-banner-img {
    height: 100%;
}

.subject-card-label {
    width: 100%;
    padding: 0 2px;
}

.subject-card-description {
    width: 100%;
    padding: 0 2px;
}