* {
    font-family: "Source sans pro";
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
  }

/* General */

:root {
    --dark : #30343F;
    --light : #FAFAFF;
    --light-blue : #F0F3F8;
    --blue : #242E40;
    --blue-dark : #262D3B;
    --blue-light : #3C4A5B;
    --blue-electric : #1E93FA;
    --blue-electric-hover : #1b85e1;
    --yellow : #ffd931;
    --yellow-hover : #eeca2b;
    --red-flash : #FE4A49;
    --red-flash-hover : #cb3e3e;
    --green : #3eaa57;
    --green-light : #48CD68;
    --green-washed : #C1F2CC;
}

.unselectable {
    user-select: none;
}

.general-title {
    color: var(--blue);

    width: 100%;

    margin: 20px 0;
}

.general-description {
    color: var(--blue-light);

    width: 100%;
    
    margin: 5px 0;
}

.general-new-button {
    background-color: var(--blue-light);
    color: white;
    text-decoration: none;

    font-size: 0.8rem;

    padding: 10px 15px;
    margin: 5px 0;
    width: fit-content;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all, 0.5s;
}

.general-new-button:hover {
    background-color: var(--blue);
}

.general-new-button:visted {
    color: white;
}

.general-edit-button {
    background-color: var(--yellow);
    color: black;
    text-decoration: none;

    padding: 5px 13px;
    margin: 5px 0;
    width: fit-content;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    overflow: hidden;
    transition: all, 0.5s;
}

.general-edit-button:hover {
    background-color: var(--yellow-hover);
}

.general-edit-button:visited {
    color: black;
}

.general-edit-button-icon {
    height: 15px;
}

.general-delete-button {
    background-color: var(--red-flash);
    color: white;
    text-decoration: none;

    font-size: 0.8rem;

    padding: 5px 10px;
    margin: 5px 0;
    width: fit-content;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    overflow: hidden;
    transition: all, 0.5s;
}

.general-delete-button:hover {
    background-color: var(--red-flash-hover);
}

.general-delete-button:visited {
    color: white;
}

.general-delete-button-icon {
    height: 20px;
    filter: invert();
}

.general-card-infobutton {
    color: var(--blue-light);
    text-decoration: none;

    font-size: 1rem;
    width: fit-content;

    transition: all, 0.5s;
}

.general-card-infobutton:hover {
    text-decoration: underline;

    text-underline-offset: 3px;
}

.general-card-infobutton:visited {
    color: var(--blue-light);
}

.general-cards {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
}

.general-card {
    width: 250px;
    margin: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 2px;
}

.general-card-banner {
    width: 100%;
    aspect-ratio: 4/3;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--dark);

    overflow: hidden;
}

.general-card-banner-image {
    height: 100%;
    min-width: 100%;
}

.general-card-label {
    color: var(--blue-light);
    font-size: 1.2rem;

    height: 50px;

    width: 100%;
    padding: 0 2px;
}

.general-card-description {
    color: var(--blue-light);
    font-size: 0.95rem;

    height: 50px;

    width: 100%;
    padding: 0 2px;
}

.general-card-infobutton {
    height: 50px;

    border-radius: 10px;

    padding: 5px;
}

table {
    border-collapse: collapse;
}
  
td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
background-color: #dddddd;
}

/* Header */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 10svh;
    min-height: 75px;
    width: 100%;
    background-color: var(--blue);

    overflow: hidden;
}

.nav-logo {
    height: 100%;
    margin: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo-image {
    height: 40%;
}

.nav-list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-option {
    height: 100%;
    color: var(--light);
    text-decoration: none;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-option:hover {
    background-color: var(--green);
}

.nav-option:visited {
    color: var(--light);
}

footer {
    min-height: 400px;
    width: 100%;

    padding: 35px 0;

    background-color: var(--blue);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-bold {
    color: var(--light);
    font-weight: 500;
    font-size: 1.2rem;

    margin: 5px;
}

.footer-text {
    color: var(--light);
    font-weight: 300;
    font-size: 0.9rem;
    text-decoration: none;

    text-align: center;

    margin: 2px;
}

.footer-text:visted {
    color: var(--light);
}

.footer-text-categories {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-text-category {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;
    margin: 0 20px;
}

.footer-iconlist {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

.footer-iconfig {
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--blue-light);

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    transition: all, 0.5s;
}

.footer-iconfig:hover {
    background-color: var(--green-light);
}

.footer-iconimg {
    height: 10px;
}

.footer-logo {
    width: 100px;
}


/* Students */
.student-main {
    min-height: 90svh;
    width: 100%;
    padding: 20px;
}

/* Formations */
.formation-main {
    min-height: 90svh;
    width: 100%;
    padding: 20px;
}

/* Subjects */
.subject-main {
    min-height: 90svh;
    width: 100%;
    padding: 20px;
}


/* Sessions */
.session-main {
    min-height: 90svh;
    width: 100%;
    padding: 20px;
}

/* Login & Register */

.register-main {
    min-height: 90svh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-main {
    min-height: 90svh;
    width: 100%;
    background-color: var(--light-blue);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-form {
    width: 450px;
    max-width: calc(100%- 6px);
    padding: 50px 25px;
    background-color: #ffffff;

    border-radius: 20px;
    outline: 1px solid #BDCBD8;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    gap: 25px;
}

.login-form-inputbox {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.registration-form {
    width: 450px;
    padding: 50px 25px;
    background-color: #ffffff;

    border-radius: 20px;
    outline: 1px solid #BDCBD8;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    gap: 30px;
}

.register-form-inputbox {
    display: flex;
    flex-direction: column;

    gap: 5px;

    margin: 10px 0;
}

.register-form-checkbox {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 17px;
    gap: 5px;

    margin: 15px 0;
}

.register-form-checkboxinput {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 17px;
    width: 17px;
}

.register-form-title {
    color: var(--blue);
    font-size: 1.5rem;

    margin: 5px 0;
}

.register-form-descriptionbox {
    display: flex;

    margin: 5px 0 20px 0;
}

.login-form-title {
    color: var(--blue);
    font-size: 1.5rem;
}

.login-form-descriptionbox {
    display: flex;

    margin: 3px 0;
}

.login-form-description {
    color: var(--blue-light);
    font-size: 1rem;
}

.connect-register-link {
    color: var(--green-light);
    text-decoration: none;
    font-size: 1rem;
}

.connect-register-link:hover {
    text-decoration: underline;
}

.connect-register-link:visted {
    color: var(--green-light);
}

.login-register-validate {
    border: none;
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    font-size: 1rem;

    background-color: var(--green-light);

    border-radius: 15px;

    transition: all, 0.5s;
}

.login-register-validate:hover {
    background-color: var(--green);
}

label {
    color: var(--blue-light);
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    border: none;
    outline: 2px solid #BDCBD8;
    padding: 5px 3px;
    border-radius: 5px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    border: none;
    outline: 2px solid var(--dark);

    background-color: #ffffff;
}

input[type=text]:defined, input[type=password]:defined, input[type=email]:defined {
    background-color: #ffffff;
}

textarea {
    resize: none;
    width: 100%;
    min-height: 100px;


    border: none;
    outline: 2px solid #BDCBD8;
    padding: 5px 3px;
    border-radius: 5px;
}

textarea:focus {
    border: none;
    outline: 2px solid var(--dark);

    background-color: #ffffff;
}

/* Home */
.home-main {
    min-height: 90svh;
    width: 100%;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.home-pageone {
    height: 90svh;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
    padding: 0 10px;
}

.home-pageone-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 500px;
    max-width: 100%;
}

.home-pageone-img {
    width: 50%;
    aspect-ratio: 4/3;
}

.home-pageone-seemore {
    border: none;
    width: 200px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;

    margin: 20px 0 ;

    background-color: var(--blue-electric);

    border-radius: 15px;

    transition: all, 0.5s;
}

.home-pageone-seemore {
    color: #ffffff;
}

.home-pageone-seemore:hover {
    background-color: var(--blue-electric-hover);
}

/* Messages */

.message-main {
    min-height: 90svh;
    width: 100%;
    background-color: var(--light-blue);

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 0 15px;
}

.message-head {
    display: flex;
    flex-direction: column;
    
    gap: 5px;

    margin: 10px 0;
}

.message-cardslist {
    margin: 30px 0;
    background-color: var();

    display: flex;
    flex-direction: column;

    gap: 15px;
}

.message-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;

    gap: 5px;
    background-color: #ffffff;
    border-radius: 10px;

    outline: 2px solid var(--blue);

    transition: all, 0.5s;
    padding: 10px;
}

.message-card:hover {
    background-color: var(--light);
}

.message-receivedcard {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: #ffffff;
}

.message-card-head {
    display: flex;
    align-items: center;
    gap: 10px;
}

.message-card-unreadpoint {
    height: 6px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--blue-electric);
}

.message-card-title {
    color: var(--blue);
    font-size: 1.2rem;
    font-weight: 800;
}

.message-card-date {
    color: var(--blue-light);
    font-weight: 400;
    font-size: 0.9rem;
}

.message-card-text {
    color: var(--blue-light);
    font-size: 0.95rem;
}