{% extends 'base.html.twig' %}

{% block title %}Subjects{% endblock %}

{% block body %}

<div class="subject-main">
    <h1 class="general-title">{{ subject.label}}</h1>

    <p>This subject in part of {{ subject.category.label }}'s category</p>

    <a class="general-edit-button" href="{{ path("edit_subject", {"id" : subject.id}) }}">
        <p>Edit</p>
    </a>

    <a class="general-delete-button" href="{{ path("delete_subject", {"id" : subject.id} ) }}">
        <p>Delete</p>
    </a>

</div>

{% endblock %}